.usuario {
    width: 501; 
    left: 11;
    top: 27; 
    position: 'absolute'; 
    color: '#332E2E'; 
    font-size: 30; 
    font-family: 'Roboto'; 
    font-weight: '700'; 
    word-wrap: 'break-word'; 
    border: 'none'; 
    outline: 'none'; 
    border-bottom: '2px #332E2E solid'
}
  